@import url(https://fonts.googleapis.com/css?family=Caveat);
@import url(https://fonts.googleapis.com/css?family=Audiowide);
.App {
  text-align: center;
}

body {
  background-color: #F5F5F5;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:focus {
  outline: none;
}

.trademark {
  font-family: "Caveat";
  font-size: 30px;
  font-weight: normal;
}

.searchBar {
  background-color: #595858;
  border-radius: 20px;
  width: 95%;
  margin: 0 auto;
  color: #ff9e16;
}
.searchBar input {
  border-radius: 20px;
  height: 30px;
  width: 90%;
  font-size: 16px;
  padding-left: 10px;
  border-color: black;
}

@media only screen and (min-width: 1025px) {
  .searchBar {
    width: 50%;
  }
}
.searchInputs {
  padding-top: 5px;
  margin-bottom: 20px;
}

.toggleButton {
  color: black;
  width: 150px;
  height: 50px;
  margin-left: 20px;
  margin-bottom: 10px;
  background-color: white;
  display: inline-block;
  border-radius: 20px;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

.toggleButton:hover {
  background-color: #46e7e7;
}

.searchButton {
  margin-top: 20px;
  font-size: 30px;
  margin-bottom: 20px;
  background-color: transparent;
  border-color: black;
  color: black;
  background-color: white;
  border-radius: 10px;
  outline: none;
}

.searchButton:disabled {
  opacity: 0.5;
}

.searchButton:active {
  opacity: 0.8;
  border-color: grey;
}

.searchButton:hover {
  background-color: #7ff241;
}

@keyframes loadingMovement {
  0% {
    transform: translateY(0px);
    color: yellow;
  }
  40% {
    transform: translateY(-40px);
    color: orange;
  }
  80%, 100% {
    color: red;
    transform: translateY(0px);
  }
}
.loading {
  margin-top: 50px;
}

.loadingLetter {
  display: inline-block;
  font-size: 60px;
  font-family: "Audiowide";
  height: 100px;
  animation-name: loadingMovement;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.loadingLetter:nth-child(1) {
  animation-delay: 0.1s;
}

.loadingLetter:nth-child(2) {
  animation-delay: 0.2s;
}

.loadingLetter:nth-child(3) {
  animation-delay: 0.3s;
}

.loadingLetter:nth-child(4) {
  animation-delay: 0.4s;
}

.loadingLetter:nth-child(5) {
  animation-delay: 0.5s;
}

.loadingLetter:nth-child(6) {
  animation-delay: 0.6s;
}

.loadingLetter:nth-child(7) {
  animation-delay: 0.7s;
}

.loadingLetter:nth-child(8) {
  animation-delay: 0.8s;
}

.loadingLetter:nth-child(9) {
  animation-delay: 0.9s;
}

.loadingLetter:nth-child(10) {
  animation-delay: 1s;
}

.productGroup {
  margin-bottom: 10%;
}

.allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  flex: 1 1 150px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 10px;
  background-color: #5298bb;
  height: 250px;
  max-width: 400px;
  border-radius: 20px;
  flex-basis: 80%;
}

.redirectButton {
  font-size: 30px;
  border-radius: 20px;
  border-color: black;
}

.redirectButton:hover {
  background-color: #7ff241;
}

/*# sourceMappingURL=styles.css.map */
