.App {
  text-align: center;
}

body {
    background-color: #F5F5F5;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input:focus {
    outline: none;
}

@import url(https://fonts.googleapis.com/css?family=Caveat);

.trademark {
    font-family: "Caveat";
    font-size: 30px;
    font-weight: normal;
}

.searchBar {
    background-color: #595858;
    border-radius: 20px;
    width: 50%;
    margin: 0 auto;
    color: #ff9e16;

    input {
        border-radius: 20px;
        height: 30px;
        width: 90%;
        font-size: 16px;
        padding-left: 10px;
        border-color: black;
    }

}

.searchInputs {
    padding-top: 5px;
    margin-bottom: 20px;
}

.toggleButton {
    color: black;
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: white;
    display: inline-block;
    border-radius: 20px;
    overflow: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.toggleButton:hover {
    background-color: #46e7e7;
}

.searchButton {
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
    background-color: transparent;
    border-color: black;
    color: black;
    background-color: white;
    border-radius: 10px;
    outline: none;
}

.searchButton:disabled {
    opacity: 0.5;
}

.searchButton:active{
    opacity: 0.8;
    border-color: grey;
}

.searchButton:hover {
    background-color: #7ff241;
}

// Loading animation from
// https://codinhood.com/post/animated-loading-text-css

@keyframes loadingMovement {
    0% {
        transform: translateY(0px);
        color: yellow;
    }

    40% {
        transform: translateY(-40px);
        color: orange;
    }

    80%,100% {
        color: red;
        transform: translateY(0px);
    }
}

.loading {
    margin-top: 50px;
}

@import url(https://fonts.googleapis.com/css?family=Audiowide);

.loadingLetter {
    display: inline-block;
    font-size: 60px;
    font-family: "Audiowide";
    height: 100px;
    animation-name: loadingMovement;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

// Through = Last number is included
// To      = Last number is excluded
@for $i from 1 through 10 {
    .loadingLetter:nth-child(#{$i}) {
        animation-delay: $i / 10 + 0s;
    }
}

.productGroup {
    margin-bottom: 10%;
}

.allProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    flex: 1 1 150px;
    margin-left: 30px;
    margin-bottom: 10px;
    background-color: #5298bb;
    height: 250px;
    max-width: 400px;
    border-radius: 20px;
    flex-basis: 80%;
}

.redirectButton {
    font-size: 30px;
    border-radius: 20px;
    border-color: black;
}

.redirectButton:hover {
    background-color: #7ff241;
}
